<style>
   body{
   overflow: hidden;
   }
</style> 
<div class="" ng-controller="sgViewCtrl">
   <div  class="row">
      <!-- col-md-2 ng-include sidebar -->
      <div ng-include="'shared/sidebar/sidebarView.html'"></div>
      <!-- / col-md-2 -->
      <div class="col-md-10">
         <div class="row">
            <!-- ng-include navbar -->
            <div ng-include="'shared/navbar/navbarView.html'"></div>
            <!-- / ng-include nabar -->
         </div>
         <div class="row">
           <!--Dropdown Select Option-->
            <div class="col-sm-3 col-md-3">
               <div class="second-panel panel panel-primary-left adjust-width  hide-scroll" id="style-1">
                  <nav class="navbar navbar-default change-bg-color">
                    <div class="container-fluid" style="padding-left:5px;">
                        <div class="navbar-header nav-header-padding">
                           <div class="select-box col-md-6">
                              <select class="first-select multiselect"  data-  id="sg_project">
                                
                              </select>
                           </div>
                           <div class="select-box col-md-6">
                              <select  data-placeholder="SELECT ALL" id="sg_location" multiple="multiple">
                                 
                              </select>
                           </div>
                         </div>
                        </div>
                  </nav>
                  <!--Saving group and district list-->
                  <div class="panel-body">
                     <div class="tab-content">
                        <p class="text_style">URUMURI RWAJU PROJECT (12)</p>
                        <div class="table-responsive">
                           <table class="table">
                              <tbody>
                                 <tr>
                                    <th class="sg-details-title">Saving groups</th>
                                    <td></td>
                                    <th class="sg-details-title">District</th>
                                    <td></td>
                                 </tr>
                                 <tr ng-repeat="sg in sgs">
                                     <a><td>{{ sg.name }}</td>
                                    <td></td>
                                    <td>{{ sg.location.district.name }}</th>
                                    <td></td></a>
                                 </tr>



                              </tbody>
                           </table>
                        </div>
                        <br><br><br><br><br>
                        <!--Search bar footer-->
                        <div class="footer2">
                           <div  id="custom-search-input2">
                              <div class="input-group col-sm-3 search-down text-center">
                                 <input type="text" class="search-query form-control" placeholder="Search your query here" />
                                 <span class="input-group-btn">
                                 <button class="btn btn-danger" type="button">
                                 <span class=" glyphicon glyphicon-search"></span>
                                 </button>
                                 </span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!--/.well -->
            </div>
            <!--Saving group tabs-->
            <div class="col-sm-9 col-md-9">
               <div class="second-panel panel panel-primary hide-scroll" id="style-1">
                  <div class="panel-body">
                     <div class="tab-content">
                        <div class="tab-pane-first active" id="test">
                           <div class="main-content">
                              <ul class="nav nav-tabs">
                                 <li class="partner-style active"><a data-toggle="pill" href=".cycle"><img src="assets/img/recycle.svg"> Cycle</a></li>
                                 <li class="partner-style"><a data-toggle="pill" href=".members"><img src="assets/img/member.svg"> Members</a></li>
                                 <li class="partner-style"><a data-toggle="pill" href=".loan-saving"><img src="assets/img/group.svg"> Loans & Savings</a></li>
                                 <li class="partner-style "><a data-toggle="pill" href=".asset"><img src="assets/img/asset.svg"> asset-liabilities</a></li>
                                 <li class="partner-style"><a data-toggle="pill" href=".credit"><img src="assets/img/credit.svg"> Credits</a></li>
                                 <li class="partner-style"><a data-toggle="pill" href=".dividend"><img src="assets/img/icon.svg"> Dividends</a></li>
                              </ul>
                              <div class="tab-content">
                                 <div  class="cycle tab-pane fade in active">
                                    <div ng-include="'components/saving-group/cycle/cycleView.html'"></div>
                                 </div>
                                 <div  class="members tab-pane fade">
                                    <div ng-include="'components/saving-group/member/memberView.html'"></div>
                                 </div>
                                 <div  class="loan-saving tab-pane fade">
                                    <div ng-include="'components/saving-group/loan-saving/lsView.html'"></div>
                                 </div>
                                 <div class="asset tab-pane fade">
                                    <div ng-include="'components/saving-group/asset-liabilities/alView.html'"></div>
                                 </div>
                                 <div  class="credit tab-pane fade">
                                    <div ng-include="'components/saving-group/credits/creditView.html'"></div>
                                 </div>
                                 <div  class="dividend tab-pane fade">
                                    <div ng-include="'components/saving-group/dividends/dividendView.html'"></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!--/.well -->
