<div class="" ng-controller="PartnerCtrl">
   <div class="partner-view" id="partner-view">
      <!--TABLE DISPLAY-->
      <table class="table mytable">
         <thead>
            <tr class="table-header">
               <th>Agent</th>
               <th>District</th>
               <th>Sector</th>
               <th>Cell</th>
               <th>SGs</th>
               <th>Members</th>
               <th>Projects</th>
               <th>Status</th>
            </tr>
         </thead>
         <tbody>
            <tr class="table-raw-style" id="partner-details">
               <td>Uwimana jean claude</td>
               <td>9</td>
               <td>9</th>
               <td>9</td>
               <td>9</td>
               <td>9</td>
               <td>9</td>
               <td>Active</td>
            </tr>
            <tr>
               <td>Uwimana jean claude</td>
               <td>9</td>
               <td>9</th>
               <td>9</td>
               <td>9</td>
               <td>9</td>
               <td>9</td>
               <td>Pending</td>
            </tr>
            <tr>
               <td>Uwimana jean claude</td>
               <td>9</td>
               <td>9</th>
               <td>9</td>
               <td>9</td>
               <td>9</td>
               <td>9</td>
               <td>Active</td>
            </tr>
            <tr>
               <td>Uwimana jean claude</td>
               <td>9</td>
               <td>9</th>
               <td>9</td>
               <td>9</td>
               <td>9</td>
               <td>9</td>
               <td>Active</td>
            </tr>
            <tr>
               <td>Uwimana jean claude</td>
               <td>9</td>
               <td>9</th>
               <td>9</td>
               <td>9</td>
               <td>9</td>
               <td>9</td>
               <td>Active</td>
            </tr>
            <tr>
               <td>Uwimana jean claude</td>
               <td>9</td>
               <td>9</th>
               <td>9</td>
               <td>9</td>
               <td>9</td>
               <td>9</td>
               <td>Active</td>
            </tr>
            <tr>
               <td>Uwimana jean claude</td>
               <td>9</td>
               <td>9</th>
               <td>9</td>
               <td>9</td>
               <td>9</td>
               <td>9</td>
               <td>Active</td>
            </tr>
            <tr>
               <td>Uwimana jean claude</td>
               <td>9</td>
               <td>9</th>
               <td>9</td>
               <td>9</td>
               <td>9</td>
               <td>9</td>
               <td>Active</td>
            </tr>
         </tbody>
      </table>
      <!--Pagination-->
      <div class="text-center">
         <div class="pagination">
            <a class="pagination-style" href="#">&lang; Back</a>
            <a class="pagination-link" href="#">1</a>
            <a class="pagination-link" href="#">2</a>
            <a class="pagination-link" href="#">3</a>
            <a href="" class="more">&hellip;</a>
            <a  class="pagination-link" href="#">12</a>
            <a class="pagination-style" href="#">Next &rang;</a>
         </div>
      </div>
      <!--Add agent-->
      <div class="fa-icon">
         <button class="btn btn-lg  btn-circle btn-add-new-project"><img src="assets/img/add.svg"></button>
         <span class="btn-floating fab-tip">Add Project</span>
      </div>
   </div>
   <!--ISOLATED PROJECT VIEW-->
   <div class="isolated-project-view" id="isolated-project-view">
      <div class="row">
         <div class="col-md-8">
            <p class="agent-name inline">One laptop per child</p>
            <div class="fa-icon inline">
               <button class="btn btn-lg  btn-circle2 btn-add-new-project"><img class="pencil-style" src="assets/img/pencil2.svg"></button>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <p class="details-header">Duration</p>
            <p class="details-agent"><span>01/01/017</span> - <span>01/08/017</span></p>
         </div>
         <div class="col-md-6">
            <p class="details-header">Partner</p>
            <p class="details-agent">Africa Evangelist Enterprise</p>
         </div>
      </div>
      <div class="row padding">
         <div class="col-md-6">
            <p class="details-header">Budget</p>
            <p class="details-agent">$250,000</p>
         </div>
         <div class="col-md-6">
            <p class="details-header">Type</p>
            <p class="details-agent">Local NGO</p>
         </div>
      </div>
      <div class="row padding">
         <div class="col-md-6">
            <p class="details-header">Donor</p>
            <p class="details-agent">USAID - Rwanda</p>
         </div>
         <div class="col-md-6">
            <p class="details-header">Contact Person</p>
            <p class="details-agent">Uwimana Adeline</p>
            <p class="details-agent">M&E Officer</p>
            <p class="details-agent">Uwimana@NGO.com</p>
            <p class="details-agent">+250 789 177 515</p>
         </div>
      </div>
      <div class="row padding">
         <div class="col-md-6">
            <p class="details-header">Intervention Area</p>
            <p class="details-agent">Province</p>
            <p class="details-agent">District</p>
            <p class="details-agent">Sector</p>
            <p class="details-agent">Cell</p>
            <p class="details-agent">Village</p>
            <p class="details-agent">Attachments</p>
         </div>
         <div class="col-md-6">
            <p class="details-header">Attachments</p>
            <p class="details-partner">Infographics-update.dxs</p>
            <p class="details-partner">Infographics-update.dxs</p>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <p class="back-to-partner-view">Back</p>
         </div>
      </div>
   </div>
   <!--Ading New Project-->
   <div class="add-new-project" id="add-new-project">
      <div class="row">
         <div class="col-md-6">
            <p class="agent-name inline">Add new project</p>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <form>
               <p class="details-header">Project details</p>
               <div class="form-group new-agent">
                  <input type="text" class=" form-control form-rounded " placeholder="full name">
               </div>
            <form class="form-inline">
               <div class="form-group new-agent">
                  <div class="col-md-6">
                     <input type="text" class="form-control form-rounded" id="InputFieldB" placeholder="Start date">
                  </div>
               </div>
               <div class="form-group new-agent">
                  <div class="col-md-6">
                     <input type="text" class="form-control form-rounded" id="InputFieldB" placeholder="End date">
                  </div>
               </div>
            </form>
            <br><br><br>
            <div class="form-group  new-agent">
               <input type="text" class="form-control form-rounded" placeholder="Budget">
            </div>
            <div class="form-group  new-agent">
               <input type="text" class="form-control form-rounded" placeholder="Donor">
            </div>
            <p class="details-header2">Project Affiliation</p>
            <div class="form-group new-agent">
               <input type="text" class="form-control form-rounded" placeholder="Province">
            </div>
            <div class="form-group new-agent">
               <input type="text" class="form-control form-rounded" placeholder="District">
            </div>
            <div class="form-group new-agent">
               <input type="text" class="form-control form-rounded" placeholder="Sector">
            </div>
            <div class="form-group new-agent">
               <input type="text" class="form-control form-rounded" placeholder="Cell">
            </div>
            <div class="form-group new-agent">
               <input type="text" class="form-control form-rounded" placeholder="Village">
            </div>
            </form>
         </div>
         <div class="col-md-4">
            <form class="new-agent ">
               <p class="details-header">Partner Details</p>
               <div class="form-group new-agent">
                  <input type="text" class=" form-control form-rounded " placeholder="Province">
               </div>
               <div class="form-group">
                  <select style="border-radius:100px;" class="form-control form-rounded-select" id="sel1">
                     <option hidden>Type...</option>
                     <option value="">Lorem ipsum</option>
                     <option value="">Lorem ipsum</option>
                  </select>
               </div>
               <p class="details-header2">Partner Contact Person</p>
               <div class="form-group">
                  <input type="text" class="form-control form-rounded " placeholder="District">
               </div>
               <div class="form-group">
                  <input type="text" class="form-control form-rounded " placeholder="District">
               </div>
               <div class="form-group">
                  <input type="text" class="form-control form-rounded " placeholder="District">
               </div>
               <div class="form-group">
                  <input type="text" class="form-control form-rounded " placeholder="District">
               </div>
               <div class="input-group image-preview">
                  <input type="text" class="form-control image-preview-filename form-rounded" placeholder="Attachment" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                  <span class="input-group-btn">
                     <!-- image-preview-clear button -->
                     <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                     <span class="glyphicon glyphicon-remove"></span> Clear
                     </button>
                     <!-- image-preview-input -->
                     <div class="btn btn-default image-preview-input form-rounded2">
                        <img src="assets/img/attachment.svg">
                        <span class="image-preview-input-title"></span>
                        <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview"/> <!-- rename it -->
                     </div>
                  </span>
               </div>
               <br>
               <button type="submit" class="btn btn-login2" id="btn-next">NEXT</button>
            </form>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <p class="back-to-agent-detail">Back</p>
         </div>
      </div>
   </div>
</div>
