<div class="row">
  <!--Table-->
   <div class="col-md-8 col-md-offset-2">
      <div class="panel-group heading-style">
         <div class="panel panel-default">
            <div class="table-responsive">
               <table class="table table-member table-user">
                  <thead>
                     <tr>
                        <th>Name</th>
                        <th>last sign in</th>
                        <th></th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr class="table-raw-style" ng-repeat="user in users">
                        <td>{{ user.name }}</td>
                        <td>{{ user.date }}</td>
                         <td><a ng-click="resetPassword(user)"><img src="assets/img/lock.svg"></a></td>
                         <td><a ng-click="editUser(user)"><img src="assets/img/pencil.svg"></a></td>
                        <td><img src="assets/img/more.svg"></td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
      <!--Floating button add User-->
      <div class="fa-icon">
         <button class="btn btn-lg  btn-circle3 btn-add-new-project" data-toggle="modal" data-target="#myModal"><img src="assets/img/add.svg"></button>
         <span class="btn-floating fab-tip2">New user</span>
      </div>
   </div>
   <!-- Modal -->
   <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title new-user">Add new user</h4>
            </div> 
            <div class="">
               <div class="col-md-10">
                  <form class="user-new-form" name="new_User">
                     <p class="details-header">Personal Info</p>
                     <div class="form-group">
                        <input type="text" class=" form-control form-rounded" placeholder="Names" ng-model="new_user.name"  required>
                     </div>
                     <div class="form-group">
                        <input type="text" class=" form-control form-rounded" placeholder="Phone" ng-model="new_user.phone" ng-keyup="checkPhone()" required> <i>{{ phoneState }}</i>
                     </div>
                     <div class="form-group">
                         <input type="email" class="form-control form-rounded" placeholder="Email" ng-model="new_user.email" ng-keyup="checkMail()" required> <i>{{ emailState }}</i>
                     </div>
                     <div class="form-group">
                         <label class="radio-inline"><input type="radio" name="optradio" ng-model="new_user.gender" value="0" >Male</label>
                         <label class="radio-inline"><input type="radio" name="optradio" ng-model="new_user.gender" value="1" checked="checked">Female</label>
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control form-rounded" placeholder="ID number" ng-model="new_user.id_number" ng-keyup="checkIdNumber()" required> <i>{{ idNumberState }}</i>
                     </div>
                     <p class="set-password">Temporary password will be set,<span class="set-password2"> set password</span></p>
                     <button type="submit" ng-disabled="!new_User.$valid" class="btn btn-login2" ng-click="newUser()" id="btn-next">SAVE</button>
                  </form>
               </div>
            </div>
            <div class="modal-footer">
            </div>
         </div>
      </div>
   </div>
   
   
   <!-- Reset Password Modal -->
   <div class="modal fade" id="resetPasswordModal" role="dialog">
      <div class="modal-dialog">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h6 class="modal-title new-user">Reset {{user.name}}</h6>
            </div> 
            <div class="">
               <div class="col-md-10">
                    <p class="details-header"> </p>
                    <button class="btn btn-login2">Reset password</button>
               </div>
            </div>
            <div class="modal-footer">
            </div>
         </div>
      </div>
   </div>
   
   
   <!-- Edit user Modal -->
   <div class="modal fade" id="editUserModal" role="dialog">
      <div class="modal-dialog">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h6 class="modal-title new-user">Edit {{user.name}}</h6>
            </div> 
            <div class="">
               <div class="col-md-10">
                  <form class="user-new-form" name="edit_user">
                     <p class="details-header">Info</p>
                     <div class="form-group">
                        <input type="text" class=" form-control form-rounded" placeholder="Names" ng-model="user.name"  required>
                     </div>
                     <div class="form-group">
                        <input type="text" class=" form-control form-rounded" placeholder="Phone" ng-model="user.phone" ng-keyup="checkPhone()" required> <i>{{ phoneState }}</i>
                     </div>
                     <div class="form-group">
                         <input type="email" class="form-control form-rounded" placeholder="Email" ng-model="user.email" ng-keyup="checkMail()" required> <i>{{ emailState }}</i>
                     </div>
<!--
                     <div class="form-group">
                         <label class="radio-inline"><input type="radio" name="optradio" ng-model="new_user.gender" value="0" >Male</label>
                         <label class="radio-inline"><input type="radio" name="optradio" ng-model="new_user.gender" value="1" checked="checked">Female</label>
                      </div>
-->
                      <div class="form-group">
                        <input type="text" class="form-control form-rounded" placeholder="ID number" ng-model="user.id_number" ng-keyup="checkIdNumber()" required> <i>{{ idNumberState }}</i>
                     </div>
                     
                     <button type="submit" ng-disabled="!edit_user.$valid" class="btn btn-login2" ng-click="updateUserInfoData()" id="btn-next">SAVE</button>
                  </form>
               </div>
            </div>
            <div class="modal-footer">
            </div>
         </div>
      </div>
   </div>
   
   
</div>
