<style>
   body{
   overflow: hidden;
   }
</style>
<div class="" ng-controller="projectCtrl">
   <div  class="row">
      <!-- col-md-2 ng-include sidebar -->
      <div ng-include="'shared/sidebar/sidebarView.html'"></div>
      <!-- / col-md-2 -->
      <div class="col-md-10">
         <div class="row">
            <!-- ng-include navbar -->
            <div ng-include="'shared/navbar/navbarView.html'"></div>
            <!-- / ng-include nabar -->
         </div>
         <div class="row">
           <!--Search Bar-->
            <div class="col-sm-3 col-md-3">
               <div class="panel panel-primary-left adjust-width  hide-scroll" id="style-1">
                  <div class="panel-body">
                     <div class="tab-content">
                        <div class="tab-pane-first active" id="test">
                           <div  id="custom-search-input">
                              <div class="input-group col-md-12 col-sm-12 text-center">
                                 <input type="text" class="  search-query form-control" placeholder="Search your query here" />
                                 <span class="input-group-btn">
                                 <button class="btn btn-danger" type="button">
                                 <span class=" glyphicon glyphicon-search"></span>
                                 </button>
                                 </span>
                              </div>
                           </div>
                        </div>
                        <!--Project List-->
                        <ul class="list-group">
                           <li class="style-project-text list-group-item">Projects</li>
                           <li class="edit list-group-item">SCALE UP<img class="pull-right pencil-icon" src="assets/img/pencil.svg"></li>
                           <li class="edit list-group-item">URUMURI PROJECT<img class="pull-right pencil-icon" src="assets/img/pencil.svg"></li>
                           <li class="edit list-group-item">FIRINKA<img class="pull-right pencil-icon" src="assets/img/pencil.svg"></li>
                           <li class="edit list-group-item">ONE GOAT PER WOMAN<img class="pull-right pencil-icon" src="assets/img/pencil.svg"></li>
                           <li class="edit list-group-item">PROTEIN DONOR<img class="pull-right pencil-icon" src="assets/img/pencil.svg"></li>
                           <li class="edit list-group-item">AMABATI<img class="pull-right pencil-icon" src="assets/img/pencil.svg"></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <!--/.well -->
            </div>
            <!--Project tabs-->
            <div class="col-sm-9 col-md-9">
               <div class="panel panel-primary hide-scroll" id="style-1">
                  <div class="panel-body">
                     <div class="tab-content">
                        <div class="tab-pane-first active" id="test">
                           <div class="main-content">
                              <ul class="nav nav-tabs">
                                 <li class="partner-style active"><a data-toggle="pill" href=".partner"><img src="assets/img/link.svg"> Partners</a></li>
                                 <li class="partner-style"><a data-toggle="pill" href=".agent"><img src="assets/img/group.svg"> Agents</a></li>
                              </ul>
                              <div class="tab-content">
                                 <div class="partner tab-pane fade in active">
                                    <div ng-include="'components/project/partner/partnerView.html'"></div>
                                 </div>
                                 <div  class="agent tab-pane fade">
                                    <div ng-include="'components/project/agent/agentView.html'"></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!--/.well -->
