<div class="container" ng-controller="SignCtrl">
   <div class="row">
      <div class="text-center save_logo2">
         <img src="assets/img/save-logo.svg">
      </div>
   </div>
   <div class="row">
      <div class="col-centered col-lg-5 col-md-6 col-sm-10 col-xs-10 save-card">
         <!--Organization form-->
         <div class="organization-details">
            <p class="text-center organization-text">Organization details</p>
            <form class="form-style2">
               <div class="form-group">
                  <input type="text" class="form-control form-rounded" placeholder="Email address">
               </div>
               <div class="form-group">
                  <select style="border-radius:100px;" class="form-control form-rounded-select" id="sel1">
                     <option hidden>Organization type...</option>
                     <option value="">Lorem ipsum</option>
                     <option value="">Lorem ipsum</option>
                  </select>
               </div>
               <div class="form-group">
                  <input type="email" class="form-control form-rounded" placeholder="Email Address">
               </div>
               <div class="form-group">
                  <input type="email" class="form-control form-rounded" placeholder="Phone Number">
               </div>
               <div class="form-group">
                  <input type="email" class="form-control form-rounded" placeholder="Location Address">
               </div>
               <button type="submit" class="btn btn-login" id="btn-next">NEXT</button>
            </form>
         </div>
         <!--Admin form-->
         <div class="admin-details">
            <p class="text-center organization-text">Admin details</p>
            <form class="form-style2">
               <div class="form-group">
                  <input type="text" class="form-control form-rounded" placeholder="Name">
               </div>
               <div class="form-group">
                  <input type="email" class="form-control form-rounded" placeholder="Position">
               </div>
               <div class="form-group">
                  <input type="email" class="form-control form-rounded" placeholder="Email address">
               </div>
               <div class="form-group">
                  <input type="email" class="form-control form-rounded" placeholder="Phone Number">
               </div>
               <button type="submit" class="btn btn-login">SIGN UP</button>
               <p class="text-center term-agree-text-style"> 
                  By signing up,you agree to our Terms and Conditions
               </p>
               <span class="back-to-organization">Back</span>
            </form>
         </div>
      </div>
      <div class="footer">Already have an account ? <a href="#!/signin"><strong>Sign In</strong></a></div>
   </div>
</div>
