<div class="container" ng-controller="forgetCtrl">
  <!--Save-logo-->
    <div class="row">
        <div class="text-center save_logo">
            <img src="assets/img/save_blue.svg">
        </div>
    </div>
    <!--Forms-->
    <div class="row">
        <div class="col-centered col-lg-4 col-md-5 col-sm-10 col-xs-10 save-card">
            <!--Password recovery-->
            <div class="pwd-recovery">
                <p class="text-center recovery-text">Password Recovery</p>
                <form class="form-style">
                    <div class="form-group">
                        <input type="email" class="form-control form-rounded" placeholder="Email address">
                    </div>
                    <button type="submit" class="btn btn-login" id="send-email">SEND EMAIL</button>
                    <p class="text-center forgot-pwd-style">
                        Change your mind ? <strong><a href="#!/signin">Sign In</a></strong>
                    </p>
                </form>
            </div>
            
            <!--Email confirmation-->
            <div class="email-sent-confirmation confirmation-style">
                <p class="text-center recovery-text">Email Sent</p>
                <img src="assets/img/check.svg" class="img-responsive img-center">
                <p class="text-center forgot-pwd-style">
                    Change your mind ? <strong><a href="#!/signin">Sign In</a></strong>
                </p>
            </div>
        </div>
        <div class="footer">Change your mind ? <strong><a href="#!/signup">Sign Up</a></strong></div>
    </div>
</div>
