<div class="" ng-controller="lsViewCtrl">
   <div class="row panel-padding">
      <div class="col-sm-5">
         <div class="panel-group">
            <div class="panel panel-default">
               <div class="panel-heading heading-style">Divident(Rwf)</div>
               <div class="panel-body">
                 Chart display<br>
                 Chart display<br>
                 Chart display<br>
                 Chart display<br>
                 Chart display<br>
                 Chart display<br>
                 Chart display<br>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-12">
               <div class="panel-group">
                  <div class="panel panel-default">
                     <div class="panel-heading heading-style">Re-invest Dividends(Rwf)</div>
                     <div class="panel-body">
                        Chart display<br>
                        Chart display<br>
                        Chart display<br>
                        Chart display<br>
                        Chart display<br>
                        Chart display<br>
                        Chart display<br>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-7">
         <div class="panel-group heading-style">
            <div class="panel panel-default">
                  <div class="table-responsive">
                     <table class="table table-member">
                        <thead>
                          <tr class="table-header-first">
                             <th class="group-member">Group Members</th>
                             <th class="total-member">Total Members:<span class="graduate-style2">236,978</span></th>
                             <Th></th>
                          </tr>
                           <tr>
                              <th>Name</th>
                              <th>Contribution</th>
                              <th>Share</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr class="table-raw-style">
                              <td>UWIMANA J.DIEU</td>
                              <td>10.000 RWF</td>
                              <td>12%</td>
                           </tr>
                           <tr>
                              <td>35</td>
                              <td>New York</td>
                              <td>USA</td>
                           </tr>
                           <tr>
                              <td>35</td>
                              <td>New York</td>
                              <td>USA</td>
                           </tr>
                           <tr>
                              <td>35</td>
                              <td>New York</td>
                              <td>USA</td>
                           </tr>
                           <tr>
                              <td>35</td>
                              <td>New York</td>
                              <td>USA</td>
                           </tr>
                        </tbody>
                     </table>
                </div>
            </div>
         </div>
      </div>
   </div>
</div>
