body {
    background-color: #1DB3CE;
}
/*Tab-Scrolling*/

.panel-tabs {
    clear: both;
    border-bottom: 1px solid transparent;
}
.panel-tabs > li {
    float: left;
}
dl {
    PADDING: 20;
    MARGIN: 20px;
}
dt {
    PADDING: 0;
    MARGIN: 25px;
}
dd {
    PADDING: 0;
    MARGIN: 25px;
    font-size: 14px;
}
dd,
a:hover {
    text-decoration: none;
}
.list-group,
li:hover .pencil-icon {
    visibility: visible;
    opacity: 1;
}
.list-group,
li:hover {
    color: black;
}
.pencil-icon {
    visibility: hidden;
    color: #fff;
}
.edit:hover {
    background: rgb(235, 233, 233);
    /*opacity: 0.50;*/

    border-radius: 50px;
    cursor: pointer;
    padding: 9px;
    color: black;
    /*font-weight: bold;*/
}

.edit:focus {
    background: rgb(235, 233, 233);
    /*opacity: 0.50;*/

    border-radius: 50px;
    cursor: pointer;
    padding: 9px;
    color: black;
    /*font-weight: bold;*/
}

.edit-active {
    background: rgb(235, 233, 233);
    /*opacity: 0.50;*/

    border-radius: 50px;
    cursor: pointer;
    padding: 9px;
    color: black;
    font-size: 16px;
    /*font-weight: bold;*/
}

.panel-primary {
    border-color: #fff;
    position: relative;
    bottom: 16px;
    overflow-y:scroll;
    margin-left: -25px;
    margin-right: 5px;
}
.panel-primary-left {
    border-color: #fff;
    position: relative;
    bottom: 16px;
    /*height: 100px;*/

    overflow-y:scroll;
    margin-left: 1px;
}
/*.panel-primary:hover {
    overflow-y: scroll;
}
.panel-primary-left:hover {
    overflow-y: scroll;
}*/
.margin-left-style {
    /*margin-left: 15px;*/
}
.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
    color: #FFFFFF;
    cursor: default;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, .23);
    border-bottom-color: transparent;
}
.well {
    position: relative;
    bottom: 16px;
    right: 6px;
    background-color: #fff;
    height: 300px;
}
.scrollbar {
    overflow-y: scroll;
}
.scrollbar:hover {
    overflow-y: scroll;
    min-height: 450px;
}
#style-1::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
#style-1::-webkit-scrollbar-thumb {
    background-color: #D1D1D1;
    height: 4px;
}
.main-content {
    margin-bottom: 80px;
}
/*NAV*/

.save_logo {
    padding-bottom: 50px;
    padding-top: 73px;
}
.save_logo2 {
    padding-bottom: 30px;
    padding-top: 53px;
}
.form-style {
    margin-top: 50px;
}
/*.form-style2 {
    margin-top: 30px;
}*/

.form-rounded {
    border-radius: 100px;
    border: 1px solid #1DB3CE;
    padding: 20px;
}
.btn-login {
    display: block;
    width: 100%;
    border-radius: 25px;
    height: 40px;
    border: 1px solid #1DB3CE;
    background-color: #1DB3CE;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}
.btn-login:hover {
    opacity: 0.6;
    color: #fff;
}
.btn-login:active {
    outline: 0;
    opacity: 0.6;
    color: #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-login:focus {
    outline: 0;
    opacity: 0.6;
    background: #1DB3CE;
    color: #fff;
}
.btn-login:active:focus,
button.btn.active:focus {
    outline: 0;
    opacity: 0.6;
    background: #1DB3CE;
    color: #fff;
}
.save-card {
    border: 2px solid #fff;
    margin-top: 50px;
    padding: 50px;
    background-color: #fff;
    padding-bottom: 50px;
    border-radius: 19px;
}
.welcome-text {
    font-size: 36px;
}
.organization-text {
    font-size: 28px;
}
.forgot-pwd-style {
    color: #1DB3CE;
    margin-top: 22px;
}
.reset-pwd-style {
    font-weight: bold;
}
a {
    color: inherit;
}
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 2rem;
    text-align: center;
}
.col-centered {
    float: none;
    margin: 0 auto;
}
input[type="email"],
input[type="password"],
input[type="text"],
select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 42px; // Increase height as required
    margin-bottom: 30px;
    padding: 0 20px; // Now only left & right padding
}
.form-rounded-select {
    border-radius: 100px;
    border: 1px solid #1DB3CE;
}
/*sign-up hide and show*/

.admin-details {
    display: none;
}
.back-to-organization {
    color: #1DB3CE;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    top: 10px;
}
.term-agree-text-style {
    color: #646464;
    margin-top: 12px;
}
/*recovery password*/

.recovery-text {
    font-size: 25px;
}
.forgot-pwd-style2 {
    margin-top: 22px;
}
.email-sent-confirmation {
    display: none;
}
.img-center {
    display: block;
    margin: 0 auto;
    padding-top: 18px;
    padding-bottom: 10px;
}
.confirmation-style {
    margin: 20px;
}
.changing-pwd-style {
    margin-top: 22px;
}
/*Project Css Part*/

.navbar-fixed-left {
      width: inherit;
      position: fixed;
      border-radius: 0;
      height: 100%;
      z-index: 200;
}
.navbar-fixed-left .navbar-nav > li {
    float: none;
    /* Cancel default li float: left */

    width: 139px;
}
.navbar-fixed-left .navbar-nav > li > a {
    color: #fff;
}
.navbar-fixed-left .navbar-nav > li > a:hover {
    color: #1DB3CE;
}
.navbar-fixed-left + .container {
    padding-left: 160px;
}
/* On using dropdown menu (To right shift popuped) */

.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
    margin-top: -50px;
    margin-left: 140px;
}
.navbar-inverse {
    background-color: #4E546B;
    border-color: #4E546B;
    color: #fff;
}
.navbar-inverse .navbar-brand {
    color: #9d9d9d;
    background-color: #545c78;
    height: 73.25px;
    width: 100%;
}
.navbar-brand img {
    display: block;
    margin: 0 auto;
}
.profile-text {
    font-weight: bold;
    font-size: 12px;
}
.profile-text2 {
    font-size: 13px;
}
.navbar-form {
    display: block;
    margin: 0 auto;
}
#custom-search-input {
    margin: 0;
    margin-top: 15px;
    padding: 0;
}
#custom-search-input .search-query {
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 20px;
    height: 40px;
    width: 100%;
}
#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */

    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #777777;
    z-index: 50;
}
#custom-search-input2 {
    margin: 0;
    /*margin-left: -13px;*/

    padding: 0;
}
#custom-search-input2 .search-query {
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 20px;
}
#custom-search-input2 button {
    border: 0;
    background: none;
    /** belows styles are working good */

    padding: 1px 4px;
    margin-top: 1px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #777777;
    z-index: 50;
}
.notification-icon {
    margin-top: 22px;
}
.icon-wrapper {
    position: relative;
}
.icon-blue {
    color: #0088cc
}
.icon-grey {
    color: grey
}
i {
    width: 100px;
    text-align: center;
    vertical-align: middle;
}
.badge {
    background: #FF005C;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 11px;
    padding: 5px;
}
.partner-style {
    color: #4E546C;
    font-size: 15px;
}
.bg-color {
    background-color: #fff;
}
.adjust-width {
    width: 100%;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    cursor: default;
    background-color: #e1f5fe;
    color: #4E546C;
    border: 0px solid #ddd;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-color: transparent;
}
.nav-tabs {
    padding-top: 0;
}

.list-group{
    padding-top: 20px;
}

.list-group-item{
    padding-top: 0px;
    padding-bottom: 0px;
    
}

.list-group li {
    margin-left: 13px;
    border-style: none;
}
.style-project-text {
    font-size: 16px;
    margin-top: 10px;
    color: #181818;
    font-weight: bold;
}
.box-1 {
    display: inline-block;
}
/*agent table*/

.table-header {
    color: #9CAEB1;
}
.mytable>tbody>tr>td,
.mytable>tbody>tr>th,
.mytable>tfoot>tr>td,
.mytable>tfoot>tr>th,
.mytable>thead>tr>td,
.mytable>thead>tr>th {
    padding: 15px;
}
@media screen and (min-width: 0px) and (max-width: 768px) {
    .mytable>tbody>tr>td,
    .mytable>tbody>tr>th,
    .mytable>tfoot>tr>td,
    .mytable>tfoot>tr>th,
    .mytable>thead>tr>td,
    .mytable>thead>tr>th {
        padding: 0px;
    }
}
.mytable {
    margin-top: 20px;
}
.pagination-style {
    font-size: 11px;
    font-weight: bold;
}
.pagination-link {
    border: 1px solid#90CCD6;
    background-color: #90CCD6;
    opacity: 0.60;
    color: #fff;
    border-radius: 5px;
}
.pagination {
    display: block;
    margin: 0 auto;
}
.pagination a {
    color: #1DB3CE;
    opacity: 0.89;
    float: none;
    padding: 4px 8px;
    text-decoration: none;
    color:
}
.pagination a.active {
    background-color: #90CCD6;
    color: white;
}
.pagination a:hover:not(.active) {
    background-color: #1DB3CE;
    color: #fff
}
.container {
    text-align: center;
}
.paginate a.more {
    box-shadow: 0 0 0 0 transparent;
    border: 0 none;
    background: transparent;
    margin-left: 0;
    margin-right: 0;
}
.paginate li {
    display: inline;
}
.input-group input[type="text"] {
    height: 30px;
    font-size: 13px;
    line-height: 14px;
}
.setting-password input[type="text"] {
    height: 20px;
    font-size: 13px;
    line-height: 14px;
}
.btn-circle {
    height: 50px;
    width: 50px;
    border-radius: 50% !important;
    background-color: #1DB3CE;
    color: #fff;
    position: fixed;
    /*bottom: 30px;
    right: 30px;*/

    bottom: 1em;
    right: 1em;
}
.btn-circle2 {
    height: 37px;
    width: 37px;
    border-radius: 50% !important;
    background-color: #1DB3CE;
    color: #fff;
}
.fab-tip {
    position: fixed;
    right: 80px;
    bottom: 35px;
    text-align: right;
    font-size: 1.4rem;
    border-radius: 2px;
    color: #968F8F;
    width: auto;
    font-weight: bold;
}
#agent-details {
    cursor: pointer;
}
.isolated-agent-view {
    display: none;
    margin-top: 30px;
    margin-left: 19px;
}
/*isolated agent*/

.agent-name {
    color: #383737;
    font: 24px "light";
    letter-spacing: -0.39px;
    padding-bottom: 12px;
}
.details-header {
    color: #383737;
    font: 17px "medium";
}
@font-face {
    font-family: light;
    src: url('../roboto/Roboto-Light.ttf');
}
@font-face {
    font-family: bold;
    src: url('../roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: medium;
    src: url('../roboto/Roboto-Medium.ttf');
}
@font-face {
    font-family: regular;
    src: url('../roboto/Roboto-Regular.ttf');
}
.details-agent {
    color: #707070;
    font: 12px "regular";
}
.inline {
    display: inline-block;
}
.pencil-style {
    margin-bottom: 12px;
    margin-left: -4px;
}
/*addd-new-agent*/

#add-new-agent {
    display: none;
}
.back-to-agent-view {
    color: #1DB3CE;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
}
.add-new-agent {
    display: none;
    margin-top: 30px;
    margin-left: 19px;
}
.btn-login2 {
    display: block;
    width: 50%;
    border-radius: 25px;
    height: 34.2px;
    border: 1px solid #1DB3CE;
    background-color: #1DB3CE;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}
.new-agent input[type="text"],
.new-agent input[type="email"] {
    height: 34.2px;
    font-size: 13px;
    line-height: 14px;
}
.margin-bottom {
    margin-bottom: -10px;
}
.margin-bottom2 {
    padding-bottom: 20px;
}
.details-header2 {
    color: #383737;
    font: 13px "medium";
    margin-top: 27px;
    margin-bottom: 9px;
}
.back-to-agent-detail {
    color: #1DB3CE;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
}
.back-to-partner-detail{
  color: #1DB3CE;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
}
/*Partner view*/

#isolated-project-view {
    display: none;
}
.table-raw-style {
    cursor: pointer;
}
.table-raw-style:hover {
    color: #1DB3CE;
}
.isolated-project-view {
    margin-top: 30px;
    margin-left: 19px;
}
.details-partner {
    color: #1DB3CE;
    font: 12px "regular";
}
.padding {
    padding: 10px;
}
.back-to-partner-view {
    color: #1DB3CE;
    font-weight: bold;
    cursor: pointer;
}
.add-new-project {
    display: none;
    margin-top: 30px;
    margin-left: 19px;
}
.form-rounded2 {
    border-radius: 100px;
    border: 1px solid #1DB3CE;
}
.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    /*opacity: 0;
	filter: alpha(opacity=0);*/
}
/*.image-preview{
  margin: 12px;
}*/

.btn:focus,
.btn:active {
    outline: none !important;
}
/*Saving group*/

.change-bg-color {
    background-color: #ede7f6 !important;
    /*opacity: 0.20;*/
}
.select-box {
    display: inline-block;
}
.nav-header-padding {
    padding-top: 8px;
}
.multiselect {
    border-radius: 100px;
    height: 30px;
    font-size: 10px;
    line-height: 18px;
    width: 92px;
}


.multiselect-form {
    border-radius: 100px;
    height: 40px;
    font-size: 10px;
    line-height: 18px;
    width: 392px;
}

.sg-details-title {
    font: 15px "bold";
}
.sg-details {
    font: 13px "regular";
}
.sg-details:hover {
    color: #1DB3CE;
    cursor: pointer;
}
.text_style {
    text-align: center;
    font: 14px "bold";
    color: #1DB3CE;
    margin-bottom: 30px;
    margin-top: 0px;
}
.left-dropdown {
    left: 80%;
    right: auto;
    text-align: left;
    transform: translate(-80%, 0);
}
.footer2 {
    /*display: block;
    margin: 0 auto;*/
    bottom: 19px;
    width: 70%;
    position: fixed;

}
/*cycle*/

.panel-padding {
    padding-top: 20px;
}
.heading-style {
    text-align: center;
    background-color: #E6ECED!important;
    color: #333333;
    font: 14px "regular";
}
.panel {
    border: 0;
}
.style-footer-first {
    text-align: center;
    background-color: #1794B9!important;
    border-radius: 7px;
    color: #fff;
    font: 14px "regular";
    padding: 26px;
}
.nber-cycle {
    text-align: left;
    font: 14px "medium";
}
.group-style {
    padding-top: 30px;
    font: 14px "bold";
}
.graduate-style {
    font: 14px "regular";
    color: #fff;
    font-weight: bold;
    padding: 2px;
    background-color: #64dd17;
}
.graduate-style2 {
    font: 14px "regular";
    color: #fff;
    background-color: #ff80ab;
    padding: 2px;
}
.cycle-text-bold {
    color: #2A2B2B;
    font: 14px "bold";
}
.style-footer-second {
    background-color: #fff!important;
    /*border: 1px solid n;*/
}
.cycle-text {
    color: #003232;
    font: 12px "regular";
}
.circle-margin {
    /*margin-top: 5px;*/
    /*padding: 0px;*/
}
.title-left {
    text-align: left;
    margin: 12px;
    font: 13px "greatest";
    position: relative;
    bottom: 20px;
}
.circle-detail {
    float: left;
    display: inline-block;
    text-align: justify;
}
.second-circle {
    float: right;
}
.circle-chart-number {
    text-align: center;
    color: #000000;
    font: 16px "medium";
}
.table-member>tbody>tr>td,
.table-member>tbody>tr>th,
.table-member>tfoot>tr>td,
.table-member>tfoot>tr>th,
.table-member>thead>tr>td,
.table-member>thead>tr>th {
    padding: 20px;
    text-align: left;
}
.table-member>thead>tr>th {
    text-align: left;
    color: #9CAEB1;
}
.group-member {
    /*margin-left: -5em;*/

    font: 14px "regular";
    color: #000000! important;
}
.table-header-first {
    background-color: #E6ECED;
}
.total-member {
    /*margin-left: 5em;*/

    color: #2F2F2F;
    font: 14px "regular";
    color: #000000! important;
}
/*.circle-saving
    {
    width:140px;
    height:140px;
    border-radius:250px;
    font-size:10px;
    color:black;
    line-height:130px;
    text-align:center;
    border: 2px solid #EBC7DE ;
    display: inline-block;
    }
    .circle-saving2
        {
        width:140px;
        height:140px;
        border-radius:250px;
        font-size:12px;
        color:black;
        line-height:130px;
        text-align:center;
        border: 2px solid #9CCD88;
        display: inline-block;
        }*/

.circles {
    display: inline-block;
}
.circle-with-text {
    background: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 3px solid #EBC7DE;
    text-align: center;
    margin: 5px 5px;
    font-size: 13px;
    padding: 15px;
    display: inline-block;
    height: 125px;
    width: 125px;
    color: black;
}
.circle-with-text2 {
    background: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 3px solid #9CCD88;
    text-align: center;
    margin: 5px 5px;
    font-size: 13px;
    padding: 15px;
    display: inline-block;
    height: 125px;
    width: 125px;
    color: black;
}
.multi-line-text {
    font-size: 20px;
}
.total-style {
    font: 15px "bold";
}
.group-style2 {
    padding-top: 30px;
    padding-bottom: 19px;
    font: 14px "bold";
}
.style-footer-first-1 {
    text-align: center;
    background-color: #2DBF00!important;
    border-radius: 7px;
    color: #fff;
    font: 14px "regular";
    padding: 35px;
    margin-bottom: 30px;
}
.style-footer-first-2 {
    text-align: center;
    background-color: #71A5E0!important;
    border-radius: 7px;
    color: #fff;
    font: 14px "regular";
    padding: 35px;
    margin-bottom: 30px;
}
.style-footer-first-3 {
    text-align: center;
    background-color: #1794B9!important;
    border-radius: 7px;
    color: #fff;
    font: 14px "regular";
    padding: 35px;
    margin-bottom: 30px;
}
/*setings*/

.setting-name {
    color: #383737;
    font: 24px "light";
    letter-spacing: -0.39px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.table-user>tbody>tr>td,
.table-user>tbody>tr>th,
.table-user>tfoot>tr>td,
.table-user>tfoot>tr>th,
.table-user>thead>tr>td,
.table-user>thead>tr>th {
    padding: 35px;
}
.btn-circle3 {
    height: 50px;
    width: 50px;
    border-radius: 50% !important;
    background-color: #1DB3CE;
    color: #fff;
    position: fixed;
    /*bottom: 30px;
right: 30px;*/

    bottom: 2em;
    right: 1em;
}
.fab-tip2 {
    position: fixed;
    right: 80px;
    bottom: 50px;
    text-align: right;
    font-size: 1.4rem;
    border-radius: 2px;
    color: #968F8F;
    width: auto;
    font-weight: bold;
}
.new-user {
    color: #383737;
    font: 24px "regular";
    padding: 25px;
}
.user-new-form {
    margin-left: 20px;
    padding-top: 40px;
    padding-bottom: 55px;
}
.set-password {
    color: #000000;
    font: 13px "regular";
    padding-top: 8px;
    padding-bottom: 12px;
}
.set-password2 {
    color: #1DB3CE;
}
.close{
  font-size: 30px;
  margin: 5px;
}
.inline-form{
  display:inline-block;
  padding-bottom: 12px;

}

.form-inline{
  display: inline-block;
}

.tooltip-inner {
  background-color: #00acd6 !important;
  /*!important is not necessary if you place custom.css at the end of your css calls. For the purpose of this demo, it seems to be required in SO snippet*/
  color: #fff;
  font-weight: bold;
  padding: 3px;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #00acd6;
}
.sidebar-list{
  font: 13px "regular";
}

.footer-side {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  font: 12px "regular";
}
