<div class="container">
    <div class="row">
        <div class="text-center save_logo">
            <img src="assets/img/save-logo.png">
        </div>
    </div>
    <div class="row">
        <div class="col-centered col-lg-5 col-md-6 col-sm-10 col-xs-10 save-card">
            <p class="text-center recovery-text">Change Password</p>
            <form class="form-style">
                <div class="form-group">
                    <input type="password" class="form-control form-rounded" placeholder="Password">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-rounded" placeholder="New Password">
                </div>
                <button type="submit" class="btn btn-login">SIGN IN</button>
                <p class="text-center forgot-pwd-style">
                    Change your mind ? <strong><a href="#!/signin">Sign In</a></strong>
                </p>
            </form>
        </div>
        <div class="footer">Already have an account ? <a href="#!/signup"><strong>Sign In</strong></a></div>
    </div>
</div>
