<div class="" ng-controller="lsViewCtrl">
   <div class="row panel-padding">
      <div class="col-sm-6">
         <div class="panel-group">
            <div class="panel panel-default">
               <div class="panel-heading heading-style">Savings VS Loans(Rwf)</div>
               <div class="panel-body">
                 Chart display<br>
                 Chart display<br>
                 Chart display<br>
                 Chart display<br>
                 Chart display<br>
                 Chart display<br>
                 Chart display<br>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-12">
               <div class="panel-group">
                  <div class="panel panel-default">
                     <div class="panel-heading heading-style">Credit Score</div>
                     <div class="panel-body">
                        Chart display<br>
                        Chart display<br>
                        Chart display<br>
                        Chart display<br>
                        Chart display<br>
                        Chart display<br>
                        Chart display<br>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-6">
         <div class="panel-group heading-style">
            <div class="panel panel-default">
               <div class="panel-heading"><span class="group-member">Group Members</span><span class="total-member">Total Members: <span class="graduate-style2">236,978</span></span></div>
               <div class="panel-body">
                  <div class="table-responsive">
                     <table class="table table-member">
                        <thead>
                           <tr>
                              <th>Name</th>
                              <th>Contribution</th>
                              <th>Share</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr class="table-raw-style">
                              <td>35</td>
                              <td>New York</td>
                              <td>USA</td>
                           </tr>
                           <tr>
                              <td>35</td>
                              <td>New York</td>
                              <td>USA</td>
                           </tr>
                           <tr>
                              <td>35</td>
                              <td>New York</td>
                              <td>USA</td>
                           </tr>
                           <tr>
                              <td>35</td>
                              <td>New York</td>
                              <td>USA</td>
                           </tr>
                           <tr>
                              <td>35</td>
                              <td>New York</td>
                              <td>USA</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
