<div class="container">
    <div class="row">
        <div class="text-center save_logo">
            <img src="assets/img/save-logo.png">
        </div>
    </div>
    <div class="row">
        <div class="col-centered col-lg-5 col-md-6 col-sm-10 col-xs-10 save-card">
            <p class="text-center welcome-text">Welcome!</p>
            <form class="form-style">
                <div class="form-group">
                    <input type="email" class="form-control form-rounded" placeholder="Email address">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-rounded" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-login">SIGN IN</button>
                <p class="text-center forgot-pwd-style">
                    Forgot password ?
                    <a href="">
                    <span class="reset-pwd-style">Reset it here</span></a>
                </p>
            </form>
        </div>
        <div class="footer">Don't have an account <a href=""><strong>Sign Up</strong></a></div>
    </div>
</div>
