<div class="row panel-padding" ng-controller="cycleViewCtrl">
  <!--First chart-->
   <div class="col-md-5">
      <div class="panel-group">
         <div class="panel panel-default">
            <div class="panel-heading heading-style">Member per cylce
            </div>
            <div class="panel-body">
               <div id="sg_cycle"></div>

            </div>
            <div class="panel-footer style-footer-first">
               <p class="nber-cycle">Number of cycles: <span>{{ cycle_length }}</span> </p>
               <p class="nber-cycle">First cycles: <span>{{ first_cycle }}</span> </p>
            </div>
            <p class="group-style">Group status : <span class="graduate-style">{{ status }}</span></p>
         </div>
      </div>
   </div>
   <!--Second-Chart-->
   <div class="col-md-7">
      <div class="panel-group">
         <div class="panel panel-default">
            <div class="panel-heading heading-style">Money re-invested per cycle</div>
            <div class="panel-body">
                <div id="sg_cycle_money"></div>
            </div>
            <div class="panel-footer style-footer-second">
               <p class="cycle-text-bold">Property at the end of cycle</p>
               <p class="cycle-text">- One morning,when Gregor Samsa woke from troubled</p>
               <p class="cycle-text">- Orrible vermin, He lay on his armour-like back,</p>
               <p class="cycle-text">- dormed and divived by arches into stiff</p>
               <p></p>
            </div>
         </div>
      </div>
   </div>
</div>
