<div class="row panel-padding">
   <div class="col-md-6">
      <div class="panel-group">
         <div class="panel panel-default">
            <div class="panel-heading heading-style">Member per cylce
            </div>
            <div class="panel-body">
               Chart display<br>
               Chart display<br>
               Chart display<br>
               Chart display<br>
               Chart display<br>
               Chart display<br>
               Chart display<br>
            </div>
            <div class="panel-footer style-footer-first">
               <p class="nber-cycle">Number of cycles: <span>123</span> </p>
               <p class="nber-cycle">First cycles: <span>12/07/16</span> </p>
            </div>
            <p class="group-style">Group status : <span class="graduate-style">Graduated</span></p>
         </div>
      </div>
   </div>
   <div class="col-md-6">
      <div class="panel-group">
         <div class="panel panel-default">
            <div class="panel-heading heading-style">Panel with panel-default class</div>
            <div class="panel-body">
               Chart display<br>
               Chart display<br>
               Chart display<br>
               Chart display<br>
               Chart display<br>
               Chart display<br>
               Chart display<br>
            </div>
            <div class="panel-footer style-footer-second">
               <p class="cycle-text-bold">Property at the end of cycle</p>
               <p class="cycle-text">- One morning,when Gregor Samsa woke from troubled</p>
               <p class="cycle-text">- Orrible vermin, He lay on his armour-like back,</p>
               <p class="cycle-text">- dormed and divived by arches into stiff</p>
               <p></p>
            </div>
         </div>
      </div>
   </div>
</div>
